//Colors
$blue: rgb(57,78,247);
$yellow: rgb(254,237,165);
$red: rgb(165,32,53);
$orange: rgb(211,41,18);
$black: rgb(6,6,6);

$light-blue : #2f9cf1;
$white : #fafafa;
$light-gray : #e9e9e9;
$dark-gray : #222;
