@import 'variables';
@import 'global';

.container{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3;
    
    .form-container{
        .form{
            background-color: $light-gray;
            border-radius: 20px;

            form{
                width: 30%;
                margin: 0 auto;
                padding-top: 1rem;
                font-size: 1.2rem;

                input[type=text],input[type=password],input[type=email],select{
                    margin: 4 0 0 0;
                    padding: 0.8rem 1rem;
                    width: 100%;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    outline: none;
                    border-radius: 10px;
                    border-left: 2px solid #e0e0e0;
                    border-right: 2px solid #e0e0e0;
                    border-top: 2px solid #e0e0e0;
                    border-bottom: 2px solid #e0e0e0;

                    &:focus{
                        border:2px solid $light-blue;
                    }
                }

                input[type=submit]{
                    height: 3rem;
                    width: 100%;
                    margin: 0 auto;
                    background-color: $light-blue;
                    outline: none;
                    border:1.5px solid $light-blue;
                    border-radius: 64px;
                    font-size: 1.2rem;
                    color: $white; 
                    cursor: pointer;
                    

                    &:hover{
                        background-color: $white;
                        color: $light-blue;
                    }
                }
            }

            div{
                width: 30%;
                margin: 2rem auto;
                font-size: 1.2rem;
                text-align: center;
                
                a{
                    color: $light-blue;

                    &:hover{
                        border-bottom: 2px solid $light-blue;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .container{
        .form-container{
            .form{
                form{
                    width: 50%;
                } 
            }
        }
    }
}

@media screen and (max-width: 650px){
    .container{
        .form-container{
            .form{
                form{
                    width: 70%;
                } 
            }
        }
    }
}