//Colors
$yellow: rgb(254, 237, 165);
$white: #fafafa;
$light-gray: #e9e9e9;
$dark-gray: #222;

$primary: #2f9cf1;

//Body
$body-bg: white;

//Navbar
$navbar-brand-font-size: 1.5rem;
$navbar-padding-y: 1.2rem;

//Common properties - button
$btn-border-width: 2px;
$btn-border-radius: 64px;
$btn-border-radius-sm: 32px;
$btn-border-radius-lg: 64px;

$btn-line-height: normal;

$btn-padding-y: 0.5rem;
$btn-padding-x: 1.8rem;
$btn-padding-x-sm: 1rem;
$btn-padding-y-sm: 0.3rem;
$btn-padding-x-lg: 1.8rem;
$btn-padding-y-lg: 0.6rem;

//Common properties - Input
$form-label-font-size: 1rem;

$input-bg: #fafafa;
$input-border-radius: 10px;
$input-border-color: #e0e0e0;

$input-font-size: 1.2rem;

$input-focus-border-color: $primary;
$input-border-width: 2px;
$input-focus-box-shadow: 0;

$form-select-border-radius: 10px;
$form-select-focus-box-shadow: 0;

// Required
@import "../node_modules/bootstrap/scss/bootstrap";

//Custom
.nav-link {
  font-size: 1.2rem;
}

.btn {
  color: #fafafa;

  &:hover {
    background-color: $body-bg;
    color: $primary;
  }
}

.footer {
  padding: 10px 0;
  background-color: #e2e2e2;
  font-size: 1.2rem;
}
